<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CHK\BackInStockConfigurable\Api\SubscriptionInterface" type="CHK\BackInStockConfigurable\Model\SubscriptionManagement" />
    <preference for="CHK\BackInStockConfigurable\Api\SubscriptionRepositoryInterface" type="CHK\BackInStockConfigurable\Model\SubscriptionRepository" />

</config>
